<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base target="_parent">
</head>
<script>
    window.addEventListener('load', function () {
        let message = {height: document.body.scrollHeight, width: document.body.scrollWidth};
        window.top.postMessage(message, "*");
    });
</script>
<style>
    .row {
        display: flex;
        gap: 10px;
        align-items: center;
    }
</style>
<body>
<div th:each="addr : ${list}" class="row">
    <h3 th:text="${addr.getRequest()}"></h3>
    <a th:if="${addr.getItem() != null}" th:href="@{http://localhost:3000/map(object=${addr.getItem().getId()})}">перейти</a>
    <h3 th:unless="${addr.getItem() != null}">null</h3>
</div>
</body>
</html>